VUE_APP_URLV1=http://api.weatherstack.com/current?access_key=6b82feffc87c45cff5a942e440d68c8e
VUE_APP_URLV2=http://api.worldweatheronline.com/premium/v1/weather.ashx?key=c15c676e281840bf83821057211303&q=Hanoi&date=today&fx24=yes&format=json&showmap=yes&tp=6&mca=no